* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer,
section,
article,
figure {
    display: block;
}



header {
    min-height: 80px;
    padding: 10px 20px;
    background: rgb(250, 250, 245);
}

main {
    padding: 20px;
}

footer {
    min-height: 100px;
    padding: 20px;
    background: rgb(230, 230, 230);
    display: block;
}

nav {
    width: 90%;
    padding: 12px 50px;
}

header > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 700;
    color: rgb(121, 193, 68);
}

header > a > img {
    height: 64px;
    vertical-align: middle;
}

main > section {
    margin: 130px 50px;
}

main > section > img {
    width: 70%;
    margin: 0px 15%;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

h3 {
    font-family: 'PT Serif', serif;
    font-weight: 200;
    font-style: italic;
    font-size: 30px;
    color: rgb(180, 180, 180);
    margin-top: 0px;
}

h4 {
    font-size: 13px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}



nav ul li a {
    display: block;
    float: left;
    text-decoration: none;
    margin: 0px;
    padding: 15px 25px;
    background: rgb(235, 235, 245);
}

nav ul li:first-child a {
    border-radius: 7px 0px 0px 7px;
}

nav ul li:last-child a {
    border-radius: 0px 7px 7px 0px;
}

footer article {
    width: 70%;
    margin: 40px 15% 40px;
}

footer article:not(:first-child) {
    border-top: 1px solid rgb(200, 200, 200);
}

footer article h2 {
    color: rgb(180, 180, 255);
    font-size: 24px;
    margin: 5px 0;
}

footer article img {
    width: 90%;
    margin: 0 auto;
    display: block;
    max-width: 250px;
}

@media (min-width:900px) {
    main > section::after {
        content: '';
        display: block;
        clear: both;
    }

    main > section > div {
        width: calc(96% - 340px);
        float: left
    }

    main > section > img {
        width: 340px;
        float: right;
        margin: 0px 2%;
    }

}

@media (min-width:780px) {
    nav {
        width: 75%;
        float: right;
        padding: 6px 50px;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    footer article {
        width: 23%;
        margin: 0;
    }

    footer article:not(:first-child) {
        border-top: none;
    }
}


/* nouvelle  format a été créé */

@media (max-width:780px){
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        margin-left: -50px;
        padding: 3px;   
    }
    nav ul li a{
        padding: 8px;
        border-radius: none;
        background:#EBEBF5;
        width: 100px;
        text-align: left;
    }
    nav ul li:first-child a ,nav ul li:last-child a {
        border-radius: 0;
    } 
    nav ul li :hover{
        background-color:#cdcdd4;
    }
}