* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container {
    margin: auto;
    width: 300px;
    height: 800px;
}
div {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 40px;
}
#form_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
}
input{
    border-style:3px solid ;
    border-color:  rgb(225, 225, 225);
}

input[list=cars] {
    border-radius: 10px;
    height: 40px;
    width: 150px;
}
input[type=checkbox] {
    
    padding: 12px 20px;
    margin: 10px;
}
input[type=radio] {
    padding: 12px 20px;
    margin: 10px;
    width: 15px;
    height: 15px;
}
#radio {
    text-transform: uppercase;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
}
fieldset {
    border-radius: 10px;
}


textarea {
    border-radius: 10px;
}
button {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(62, 224, 62);
    border: none;
    height: 40px;
    border-radius: 5px;
}

option{
    padding-left: 10px;
}