* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: titillium;
    font-size: 13px;
    line-height: 18px;
    color: #666;
}

/** Mise en page **/
div#page {
    width: 100%;
    min-height: 400px;
}

div#page>aside {
    width: 100%;
    padding: 54px 1.618122977346278% 36px 1.618122977346278%;
    background: #56c2c2;
}

div#page>main {
    width: 100%;
    padding: 27px 1.618122977346278%;
}

aside>img {
    display: block;
    margin: 0 auto 40px auto;
    width: 294px;
}

/* Mise en forme */
h2 {
    color: #fff;
    font-size: 27px;
    margin-bottom: 30px;
    font-weight: normal;
}

main h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 40px;
    color: #4aa8a8;
    margin: 12px 0 36px 0;
    border-bottom: 1px dashed #999;
}

main h2 {
    font-size: 27px;
    font-weight: 100;
    line-height: 26px;
    color: #4aa8a8;
    margin: 0 0 18px 0;
}

main h3 {
    font-size: 40px;
    font-weight: 100;
    line-height: 40px;
    color: #4aa8a8;
    margin: 0 0 26px 0;
}

main h4 {
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
    color: #4aa8a8;
    margin: 12px 0 25px 0;
}

main h5 {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 12px 0;
}

main p {
    margin: 0 0 18px 0;
}

main ul {
    margin: 0 0 20px 20px;
}

main ol {
    margin: 0 0 20px 20px;
}

main figure {
    width: 100%;
    height: 210px;
    background-image: url("../images/image-ecran.jpg");
    margin: 0 0 36px 0;
    background-size: 700px;
    background-repeat: no-repeat;
}


/* Menu */
ul.menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.menu li a {
    display: block;
    text-decoration: none;
    padding: 18px 0 18px 40px;
    border-bottom: 1px dashed #fff;
    font-size: 15px;
    color: #fff;
    transition: all 0.5s;
    background: url("../images/dot.png") no-repeat 2px center;
    background-size: 30px
}

ul.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}


/* clear floats */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* responsive design */

@media only screen and (min-width:1206px) {
    #page {
        display: flex;
    }

    aside {
        width: 446px;
    }

    main {
        width: 760px;
    }

    .menu li,
    div h2 {
        width: 294px;
        margin-left: 66px;
    }

    main h5,
    main h4,
    main h1,
    main figure,
    main p,
    main h2,
    main ul {
        margin-left: 81px;
    }

    aside>img {
        width: 294px;
    }
}