*{
    box-sizing: border-box;
}

main{
    margin: auto;
}

header{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(194, 179, 161);
}

div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    column-gap: 10px;
    background-color: rgb(143, 132, 120);
    text-align: center;
}

section{
    background-color:  rgb(179, 170, 162);
    padding: 10px;
  
}


footer{
    padding: 15px;
    text-align: center;
    background-color: rgb(199, 194, 189);
}

@media (max-width:600px) {
    div{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 5px;
        row-gap: 5px;
    } 
}