*{
    box-sizing: border-box;
}
/* 
.img_container{
    float: left;
    border: 1px groove;
}

.clearfix::after{
    content: "";
    clear: left;
    display: table;
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    background-color: #111;
}

.active{
    background-color: red;
} */
body{
    margin: auto;
}


.header{
    width: 80%;
    border: 1px groove;
    padding: 10px;
    text-align: center;
}
.header:hover{
    background-color: dimgrey;
}
.main{
    width: 80%;
    border: 1px groove;
    padding: 10px;
}
.main:hover{
    background-color: silver;
}

.list{
    width: 25%;
    float: left;
}

.list::after{
    content: "";
    clear: both;
    display: table
}

ul{

}
li{
    list-style-type: none;
    cursor: cell;
    padding: 3px;
   
    text-align: center;
}
li:hover{
    background-color: rgb(205, 205, 205);
}

.par{
    width: 75%;
}
.par:hover{
    cursor:pointer;
}
h2{
    text-align: center;
}


.foot{
    width: 80%;
    border: 1px groove;
    padding: 10px;
    text-align: center;
    cursor: copy;
}
.foot:hover{
    background-color: slategray;
}